aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
py-tgcalls~=2.1.0
pykeyboard
pyrogram==2.0.106
httpx[http2]==0.27.2
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
youtube-search
youtube-search-python
telegraph
pytz
numpy
wget
yt-dlp
kurigram==2.1.36
async-lru
MukeshAPI
nudenet
moviepy
pytube
openai
requests
pySmartDL
