aiofiles
aiohttp
asyncio
beautifulsoup4
bing-image-urls
dnspython==2.3.0
ffmpeg-python
gitpython
gTTS
hachoir
heroku3
httpx[http2]
img2pdf
imgurpython
lexica-api
lyricsgenius
motor
MukeshAPI
numpy
ntgcalls==1.1.2
opencv-python-headless==4.9.0.80
pandas
pillow==9.5.0
profanity
psutil
pybind11>=2.12
pyfiglet
pykeyboard
pyrogram==2.0.101
python-dotenv
pySmartDL
pytube
py-tgcalls==0.9.7
pyyaml
requests
SafoneAPI
secureme==0.0.4
speedtest-cli
spotipy
telegraph==2.2.0
telethon==1.33.1
tgcrypto
unidecode
urllib3
uuid==1.30
wget
yt-dlp
youtube_dl
youtube-search
youtube-search-python
googlesearch-python
google_play_scraper
googletrans
